* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
}

ul {
  padding-left: 0;
  padding-left: 10px;
}

ul > li {
  padding: 5px 0;
  list-style-type: none;
}

ul > li::before {
  content: '➡️';
  padding-right: 3px;
}

h2 {
  margin-bottom: 5px;
}

.card-container {
  width: 80%;
  background-color: 0 auto;
  background-color: skyblue;
  height: 80vh;
}

.hero-image {
  height: 170px;
  background-color: blue;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.name-title {
  margin-bottom: 5px;
  color: white;
}

.name {
  margin-bottom: 5px;
}

.title {
  font-size: 10px;
}

.section {
  background-color: white;
  padding: 20px 10px;
  border-bottom: 1px solid lightgrey;
}

.section-title {
  border-bottom: 1px solid cornflowerblue;
  display: inline-block;
  padding-bottom: 10px;
}

.body-text {
  color: grey;
  padding-top: 10px;
  font-size: 10px;
}

.body-text > p {
  padding: 10px 0;
}